{% extends "base.html" %}

{% load static %}

{% block content %}
    <div class="book-collection">
        {% for book in books %}
            <div class="media">
                <a href="{% url 'coloring_books' book.id %}">
                    <img class="-flex align-self-center mr-3" src="{% get_static_prefix %}images/{{ book.image_name }}" width="100px">
                </a>
                <div class="media-body">
                    <h5 class="mt-0">{{ book.title }}</h5>
                    <p>{{ book.description }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}